.card {
    background-color: #ffffff;
    padding: 20px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 25px 50px -12px rgb(0, 0, 0 );
    margin-top: 10px;
    margin-bottom: 10px;
    transition: 0.5s;

    &__tittle{
        background-color: rgba(155, 12, 238, 0.904);
        color:  ghostwhite;
        padding: 8px;
        border-radius: 8px;
    }

    &__description{
        padding: 8px;
        margin: 8px;
        font-size: 15px;
    }
    &__header{
        position: relative;

        &-tag{
            padding: 10px;
            color: $color3;
            background-color: $color1;
            position: absolute;
            right: 0;
            border-left-width: 10px;
        }
        &-img{
            width: 300px;
            height: 350px;
            margin-bottom: 10px;
        }
    }
    &__link{
        background-color: $color1;
    display: inline-block;
    width: 100%;
    padding: 10px;
    text-align: center;
    color: azure;
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold;
    }

    &:hover{
   
        background-color: #f8f7f7;
        transform: translateY(10px);
    }
    
   
}


.titulo__principal--listas{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffffff;
}

.productos{
    margin-top: 50px;
    padding: 0 15px;

    &__Ampli{
        @extend .fondo;
    }
    &__contenedor{
        @include grid(3);
    }
}


@media (max-width: $firstc ){
    .productos__contenedor{
        grid-template-columns: repeat(2, 1fr);
    }
}


@media (max-width: $secondc ){
    .productos__contenedor{
        grid-template-columns: repeat(1, 1fr);
    }

}





