.card {
    margin: 0 auto;   
    background-color: #ffffff;
    padding: 10px;
    width: 340px;
    border-radius: 10px;
    box-shadow: 0 25px 50px -12px rgb(0, 0, 0 );
    margin-top: 10px;
    margin-bottom: 10px;
    transition: 0.5s;

    &__tittle{
        background-color: rgba(155, 12, 238, 0.904);
        color:  ghostwhite;
        padding: 8px;
        border-radius: 8px;
    }

    &__description{
        padding: 8px;
        margin: 8px;
        font-size: 15px;
    }
    &__header{
        position: relative;

        &-tag{
            padding: 10px;
            color: $color3;
            background-color: $color1;
            position: absolute;
            right: 0;
            border-left-width: 10px;
        }
        &-img{
            margin: 0 auto;
            width: 200px;
            height: 250px;
            margin-bottom: 10px;
        }
    }
    &__link{
    text-decoration: none;
    background-color: $color2;
    display: inline-block;
    width: 100%;
    padding: 10px;
    text-align: center;
    color: $color3;
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold;

    &:hover{
        background-color: $color1;
        color: $color3;
    }
    }

    &:hover{
   
        background-color: #f8f7f7;
        transform: translateY(10px);
    }
    
   
}

.card1{
    
    margin: 0 auto;   
    background-color: #ffffff;
    padding: 10px;
    width: 950px;
    border-radius: 10px;
    box-shadow: 0 25px 50px -12px rgb(0, 0, 0 );
    border-bottom: 15px;

    &__tittle{
        text-align: center;
        text-decoration: none;
        background-color: rgba(155, 12, 238, 0.904);
        color:  ghostwhite;
        padding: 8px;
        border-radius: 8px;
    }

    &__description{
        font-weight: bold;
        padding: 8px;
        margin: 8px;
        font-size: 15px;
    }
    &__header{
        position: relative;
        align-content: center;
        align-items: center;
        margin: 0 auto; 

        &-tag{
            padding: 10px;
            color: $color3;
            background-color: $color1;
            position: absolute;
            right: 0;
            border-left-width: 10px;
        }
        &-img{
            margin: 0 auto;
            width: 200px;
            height: 20px;
            margin-bottom: 10px;
        }
    }
    &__link{
        text-decoration: none;
        background-color: $color2;
        display: inline-block;
        width: 100%;
        padding: 10px;
        text-align: center;
        color: $color3;
        cursor: pointer;
        border-radius: 10px;
        font-weight: bold;
    
        &:hover{
            background-color: $color1;
            color: $color3;
        }
        }

}

.card2{
    border-top: 200px;
    display: flex;    
    align-items: center;
    justify-content: center;
    margin: 0 auto;   
    background-color: #ffffff;
    padding: 10px;
    width: 550px;
    border-radius: 10px;

    &__tittle{
        text-align: center;
        text-decoration: none;
        background-color: rgba(155, 12, 238, 0.904);
        color:  ghostwhite;
        padding: 8px;
        border-radius: 8px;
    }

    &__description{
        font-weight: bold;
        padding: 8px;
        margin: 8px;
        font-size: 15px;
    }
    &__header{
        position: relative;
        align-content: center;
        align-items: center;
        margin: 0 auto; 

        &-tag{
            padding: 10px;
            color: $color3;
            background-color: $color1;
            position: absolute;
            right: 0;
            border-left-width: 10px;
        }
        &-img{
            margin: 0 auto;
            width: 200px;
            height: 250px;
            margin-bottom: 10px;
        }
    }
    &__link{
        text-decoration: none;
        background-color: $color2;
        display: inline-block;
        width: 100%;
        padding: 10px;
        text-align: center;
        color: $color3;
        cursor: pointer;
        border-radius: 10px;
        font-weight: bold;
    
        &:hover{
            background-color: $color1;
            color: $color3;
        }
        }

}



.titulo__principal--listas{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffffff;
}

.productos{
    margin: auto;
    margin-top: 50px;
    padding: 0 15px;
    align-content: center;
    align-items: center;
    margin: 0 auto; 

    &__Ampli{
        @extend .fondo;
    }
    &__contenedor{
        @include grid(3);
        
        
    }
}

.row g-3{
    @extend .fondo;
    @include grid(3);
}


.img1{
    @include grid(3);
    display: grid;    
    
    width: 150px;
    height: 150px;
}

.botton{
    background-color: $color2;
    font-size: larger;
    color: $color1;
    transition: 0.3;
    &:hover{
        translate: 5px;
        color: $color2;
        background-color: $color1;
    }
}

.card3__header{
       
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0, auto;
}

@media (max-width: $firstc ){
    .productos__contenedor{
        grid-template-columns: repeat(2, 1fr);
    }
}


@media (max-width: $secondc ){
    .productos__contenedor{
        grid-template-columns: repeat(1, 1fr);
    }

}





