.footer{
   

    margin-top: 15px;

    color: $color2;
  
    background-color: $color1;

    padding: 50px 20px;

    &__content{
      
      color: $color3;

      align-items: center;

      @include grid(3);

      &__list{
        color: $color3;

        align-items: center;

        @include grid(3);
        

        li{
           max-width: 300px 10;

           
        }
        a{

          font-weight: bold;
          
          color: $color2;

          transition: 0,5s;
         
          &:hover{
            color: $color3;

          }
        }
      }
    }

   
   
   &__rrss{
   
    margin-top: 30px;

    @include grid(3);

    $Iconos: (
      
    facebook: #2279e4,

      twitter: #55acee,

      instagram: #e263cd,
      
    );

    @each $nameiconos, $coloriconos in $Iconos {
      .rs-#{$nameiconos} {
        color: $color3;

        font-size: 30px;

        transition: 0.5s;

        margin: 0 auto;

        padding: 10px;

        border-radius: 30px;


        &:hover{
          color: $coloriconos;

          background-color: $color3;

          
          
        }

      }
    }
  }   
   
}





.copy{
    margin-top: 40px;

    text-align: center;

    color: black;

    font-size: x-large;
}