$color1: #b75ae6c4;
$color2: #eee;
$color3: #000;

$borderRadius: 10px;

$bgcolor: rgba(83, 83, 83, 0.863);

// /Breackpoints
$firstc: 1265px;

$secondc: 992px;

// columnas
$colums: 3;

//footer

$nameiconos:facebook twitter instagram;

$coloriconos:#2279e4 #55acee #e263cd;

